/* header */
header {
    width:100%;
    background:#3a50a6;
    padding:5px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:fixed;
    z-index:999;
}
header h1 {}
header h1 a {}
header h1 a img {}
header nav {
    display:flex;
    align-items:center;
}
header nav ul {
    display:flex;
    gap:70px;
}
header nav ul li {
    color:#fff;
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
}
header nav ul li a {
    color:#fff;
}
header nav ul li > .lnb {
    background:#3f3f3f;
    padding:20px;
    position:absolute;
    top:35px;
    flex-flow:column nowrap;
    gap:15px;
    align-items:center;
    transform-origin:center top;
    transform:scaleY(0);
    transition:transform 0.3s;
}
header nav ul li > .lnb li {
    text-transform:uppercase;
    font-size:0.75rem;
}
header nav ul li .lnb_wrap {
    background:#3f3f3f;
    padding:15px;
    top:35px;
    position:absolute;
    display:flex;
    gap:20px;
    transform-origin:center top;
    transform:scaleY(0);
    transition:transform 0.3s;
}
header nav ul li .lnb_wrap .lnb {
    display:flex;
    flex-flow:column nowrap;
    gap:15px;
    align-items:flex-start;
}
header nav ul li .lnb_wrap .lnb li {
    text-transform:uppercase;
    font-size:0.75rem;
}
header nav #search {
    margin-left:30px;
}
header nav #search img {}
header .info {
    display:flex;
    gap:30px;
}
header .info li {}
header .info li a {}
header .info li a img {}
header .info li .search_info {
    display:none;
}
/* main */
main {
    padding-top:36px;
    max-width:1920px;
    min-width:320px;
}
/* footer */
footer {
    background:#1e1e1e;
    padding:30px 240px 100px;
}
footer * {
    color:#fff;
}
footer .top {
    display:flex;
    padding:30px 0;
    border-bottom:1px solid #fff;
    margin-bottom:30px;
}
footer .top .left {
    display:flex;
    flex-flow:column nowrap;
    margin-right:50px;
}
footer .top .left .corp {
    margin-bottom:20px;
}
footer .top .left .corp p {}
footer .top .left .policy {
    display:flex;
    flex-flow:column nowrap;
}
footer .top .left .policy a {
    font-size:0.875rem;
    margin-bottom:5px;
}
footer .top .left .policy a:last-child {
    margin-bottom:0;
}
footer .top .right {
    display:flex;
    flex-flow:column nowrap;
}
footer .top .right .insta {
    margin-bottom:50px;
    display:flex;
    flex-flow:column nowrap;
}
footer .top .right .insta a {
    font-size:0.875rem;
}
footer .top .right .insta a:first-child {
    margin-bottom:3px;
}
footer .top .right .co_icon {}
footer .top .right .co_icon img {}
footer .bottom {}
footer .bottom .first_floor {
    display:flex;
    gap:40px;
}
footer .bottom .first_floor .co_name {}
footer .bottom .first_floor .co_name span {
    font-size:0.75rem;
}
footer .bottom .first_floor .co_name span:last-child {
    color:#777;
    margin-left:15px;
}
footer .bottom .first_floor .co_owner {}
footer .bottom .first_floor .co_owner span {
    font-size:0.75rem;
}
footer .bottom .first_floor .co_owner span:last-child {
    color:#777;
    margin-left:15px;
}
footer .bottom .first_floor .license {}
footer .bottom .first_floor .license span {
    font-size:0.75rem;
}
footer .bottom .first_floor .license span:last-child {
    color:#777;
    margin-left:15px;
}
footer .bottom .first_floor .mail {}
footer .bottom .first_floor .mail span {
    font-size:0.75rem;
}
footer .bottom .first_floor .mail span:last-child {
    color:#777;
    margin-left:15px;
}
footer .bottom .first_floor .kg {}
footer .bottom .first_floor .kg img {}
footer .bottom .address {
    display:flex;
    gap:15px;
    margin-bottom:10px;
}
footer .bottom .address span {
    font-size:0.75rem;
}
footer .bottom .address span:last-child {
    color:#777;
}
footer .bottom > p {
    font-size:0.75rem;
}
footer .bottom > p:last-child {
    line-height:1.5;
    margin-top:10px;
}
@media screen and (max-width:1240px) {
    main {
        padding:120px 30px;
    }
    header nav {
        display:none;
    }
    header .search_info {
        display:block;
    }
    footer {
        padding:120px 30px;
    }
    footer * {
        text-wrap:nowrap;
    }
    footer .bottom .first_floor {
        flex-flow:row wrap;
    }
    iframe {
        width:800px;
        height:600px;
    }
}
@media screen and (max-width:768px) {
    header {
        padding:5px 15px;
    }
    header h1 a img {
        width:103px;
    }
    .info {
        gap:20px;
    }
    .info li img {
        width:18px;
    }
    main {
        padding:80px 15px;
    }
    footer {
        padding:80px 15px;
    }
    footer .top {
        flex-flow:row wrap;
        margin-bottom:10px;
        gap:10px;
    }
    footer .co_icon img {
        width:120px;
    }
    footer .kg {
        margin-bottom:15px;
    }
    footer .address {
        flex-flow:column;
        gap:5px;
    }
    footer .insta {
        margin-top:5px;
    }
    footer .bottom .first_floor {
        gap:10px;
    }
    footer .bottom > p {
        text-wrap:wrap;
    }
    iframe {
        width:400px;
        height:200px;
    }
}